{% macro listTab(videos) %}
    <div class="news">
        {% for video in videos %}
            <a class="news-block" href="{{ path('frontend_video_one', {slug: video.slug}) }}">
                {% if video.preview|length > 0 %}
                    {% set preview = video.webPath() %}
                {% else %}
                    {% set preview = video.video.previewImageUrl %}
                {% endif %}
                <div class="cover"><img src="{{ image(preview).zoomCrop(170, 190).jpeg(100) }}"></div>
                <div class="short-block">
                    <div class="date">{{ video.created|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                    <div class="title">{{ video.title }}</div>
                    <div class="content">{{ video.description }}</div>
                </div>
            </a>
        {% endfor %}
        {% if videos.count is defined %}
            {{ knp_pagination_render(videos) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro videoBlock(video) %}
    {% if video.video.id is defined and video.video.link|length > 0 %}
        <div class="wrap-video">
            {% if video.preview|length > 0 %}
                {% set preview = video.webPath() %}
            {% else %}
                {% set preview = video.video.previewImageUrl %}
            {% endif %}
            <a href="{{ video.video.original }}" class="fancybox">
                <img src="{{ asset('bundles/sitemain/frontend/images/play.png') }}" class="play-button" alt=""/>
            </a>
            <img src="{{ image(preview).cropResize(500).jpeg(100) }}" alt=""/>
        </div>
    {% endif %}
{% endmacro %}