{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}{{ quote.metaTitle }}{% endblock %}
{% block meta_description %}{{ quote.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ quote.metaKeywords }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ quote.title }}</h1>
        <div class="news news--all">
            <div class="news-block">
                <div class="cover"><img src="{{ image(quote.webPath).zoomCrop(170, 190).jpeg(100) }}"></div>
                <div class="short-block">
                    <div class="date">{{ quote.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                    <div class="content">{{ quote.text|raw }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}