{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}
{% block og_title %}{{ page.metaTitle }}{% endblock %}
{% block og_description %}{{ page.metaDescription }}{% endblock %}
{% block og_url %}http://{{ app.request.host }}{{ app.request.requestUri }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.slug == "fotoghalieriei" or page.slug == "vidieoghalieriei" %}
        {% stylesheets
        'bundles/sitemain/frontend/css/gallery.css'
        filter='yui_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
    {{ knp_menu_render('frontend_sub_menu', { 'style': 'navbar' }) }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ page.text|raw }}
        {% if page.slug == "fotoghalieriei" %}
            {{ render(url('frontend_photo_index', {'page': app.request.query.get('page')} )) }}
        {% endif %}
        {% if page.slug == "vidieoghalieriei" %}
            {{ render(url('frontend_video_index', {'page': app.request.query.get('page')} )) }}
        {% endif %}
        {% if page.slug == "novosti-1" %}
            {{ render(url('frontend_ajax_index', {'page': app.request.query.get('page')} )) }}
        {% endif %}
        {% if page.slug == "aktsii" %}
            {{ render(url('frontend_stock_index', {'page': app.request.query.get('page')} )) }}
        {% endif %}
    </div>
{% endblock %}
