{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}{{ news.metaTitle }}{% endblock %}
{% block meta_description %}{{ news.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ news.metaKeywords }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == 'frontend_news_one' %}
    {{ knp_menu_render('frontend_news_type_menu', { 'style': 'navbar' }) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container container--text">
        <h1>{{ news.title }}</h1>
        <div class="news news--all">
            <div class="news-block">
                <div class="cover"><img src="{{ image(news.webPath).zoomCrop(170, 190).jpeg(100) }}"></div>
                <div class="short-block">
                    <div class="date">{{ news.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                    <div class="content">{{ news.text|raw }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}